p{
    color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    text-transform: uppercase;
    text-decoration: line-through overline underline;
}
h1{
 text-shadow: 2px 20px 10px royalblue;   
}